@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-spinner {
   width: 10px;
   height: 10px;
   @apply border-gray-100 border-[8px] border-double;
   border-left-style: solid;
   border-radius: 50%;
   animation: spinner-frames 0.75s infinite linear;
}
